@{
    ViewData["Title"] = "Rumah asal";
}

<div class="text-center">
    <h1 class="display-4">Selamat Datang melawat youtube saya</h1>
    <p>Disini Youtube paling hebat <a href="https://i.pinimg.com/564x/3c/3a/d2/3c3ad2371c25000d72a7b3b4b7157603.jpg">Youtube yang paling hebat</a>.</p>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/s2PlwNP2UAo"
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>


    <iframe width="560" height="315" src="https://www.youtube.com/embed/wTVhjp6lJ8E"
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>


    <iframe width="560" height="315" src="https://www.youtube.com/embed/NJfD9k9kSPo"
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>


    <iframe width="560" height="315" src="https://www.youtube.com/embed/apkZbZbAvho"
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>

</div>

